body, html {
    height: 100%;
    background: #111;
    padding:0;
    overflow-x: hidden;
}
body{
    font-family: 'Teko', sans-serif;
    margin:0;
    display: grid;
    grid-template-columns: 100vw auto;
    grid-template-rows: 100vw auto;
}
app{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding:0;
    height: inherit;
    overflow: hidden;
}

controls{

    background:#222;
    padding:1rem;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 200%;
}

@media only screen and (min-width: calc(100vh + 22rem)) {
    body{
        grid-template-columns: 100vh auto;
        grid-template-rows: 100vh auto;
    }
    controls {
        font-size: 100%;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .slider::-webkit-slider-thumb {
        width: 2em;
        height: 2em;
    }.slider::-moz-range-thumb {
        width: 2em;
        height: 2em;
    }
}

.slidecontainer{
    padding: 0.1rem 0.5rem 1rem;
}
.slidecontainer p{
    color:#fff;
    margin: auto;
    text-align: center;
    font-size: 150%;
}

.slider {
    -webkit-appearance: none;
    width: 95%;
    height: 0.75em;
    border-radius: 5px;  
    background: #3b3b3b;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4em;
    height: 4em;
    border-radius: 50%; 
    background: rgb(255, 255, 255);
    cursor: grab;
}

.slider::-moz-range-thumb {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    cursor: grab;
}

button{
    font-family: 'Teko', sans-serif;
    font-size: 250%;
    background-color: rgba(76, 175, 79, 0.26); /* Green */
    border: none;
    color: white;
    padding: 0.2rem 1rem 0;
    width: 100%;
    max-width: 20rem;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 1rem auto;
}
button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}